@model List<Student_Report_Management.Models.tbl_Student_Report>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form method="get" action="/MyAPI/Index">
    <label for="StudentId">Enter Student Id</label>
    <input type="number" name="StudentId" id="StudentId" />

    <label for="YearName">Enter Year Name</label>
    <input type="text" name="YearName" id="YearName" />

    <button type="submit">Search</button>
</form>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User_Score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Updated_On)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_Semister_Subject_Map.Sem_Subject_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_Student_Master.Student_Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User_Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updated_On)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tbl_Semister_Subject_Map.Sem_Subject_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tbl_Student_Master.Student_Name)
            </td>

        </tr>
    }

</table>
