@model IEnumerable<Student_Report_Management.Models.ViewModels.StudentReportViewModel>

@{
    ViewBag.Title = "Index";
}

<h4>Search Students by Student Id and Year Name</h4>

<h6>Enter Deatils</h6>
<form method="get" action="/MyAPI/Index">
    <label for="StudentId">Enter Student Id</label>
    <input type="number" name="StudentId" id="StudentId" />
    <br />
    <label for="YearName">Enter Year Name</label>
    <input type="text" name="YearName" id="YearName" />
    <br />
    <button type="submit" class="btn-outline-primary">Search</button>
</form>
<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Semister_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sem_Subject_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Max_Score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_Score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject_Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Semister_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sem_Subject_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Max_Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User_Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject_Name)
            </td>
        </tr>
    }
</table>

@Html.ActionLink("Back", "Index", "Home")
