@model IEnumerable<Student_Report_Management.Models.ViewModels.StudentReportViewModel>
@{
    ViewBag.Title = "StudentPercentage";
}

<h4>Percentage of All Students yearwise</h4>

<table class="table table-bordered table-striped">
    <tr class="text-center">
        <th>
            @Html.DisplayNameFor(model => model.Student_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Obtained)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Percentage)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="text-center">
            <td>
                @Html.DisplayFor(modelItem => item.Student_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Obtained)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Percentage)
            </td>
        </tr>
    }
</table>


@Html.ActionLink("Back", "Index", "Home")