@model IEnumerable<Student_Report_Management.Models.ViewModels.StudentReportViewModel>
@{
    ViewBag.Title = "StudentTopSubEachSem";
}

<h2>Particular Students top subject from each Semister</h2>

<h6>Enter Details</h6>
<form method="get" action="/MyAPI/StudentTopSubEachSem">
    <label for="StudentName">Enter Student Name</label>
    <input type="text" name="StudentName" id="StudentName" />
    <br />
    <button type="submit">Search</button>
</form>


<table class="table">
    <tr class="text-center">
        <th>
            @Html.DisplayNameFor(model => model.Student_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Semister_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_Score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year_Name)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Sem)
        </th>*@

    </tr>

    @foreach (var item in Model)
    {
        <tr class="text-center">
            <td>
                @Html.DisplayFor(modelItem => item.Student_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semister_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User_Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year_Name)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Sem)
            </td>*@
        </tr>
    }
</table>

@Html.ActionLink("Back", "Index", "Home")
