@model IEnumerable<Student_Report_Management.Models.ViewModels.StudentReportViewModel>
@{
    ViewBag.Title = "TopScorer";
}

<h2>Top Scorer of the students</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Student_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_Score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Semister_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year_Name)
        </th>
    </tr>

    @foreach(var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Student_Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Student_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User_Score)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Semister_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year_Name)
                    </td>
                </tr>
            }

</table>

@*<div>
    <button class="btn-danger"><a href="~/Views/Home/Index.cshtml"></a>Back</button> 
</div>*@
@Html.ActionLink("Back", "Index", "Home")



