@model IEnumerable<Student_Report_Management.Models.ViewModels.StudentReportViewModel>
@{
    ViewBag.Title = "GetSemSubData";
}
<br />
<h4>Get Semister Subject Data</h4>

<p>
    @Html.ActionLink("Add New Details for Subject", "AddDetail")
</p>

@using (Html.BeginForm("GetSemSubData", "SemSubMap", FormMethod.Get))
{
    <div>
        @Html.Label("Searh Subject")
        @Html.TextBox("SubjectName", ViewBag.CurrentFilter as string)
    </div>
    <button type="submit" class="btn-outline-primary">Search</button>
}

<table class="table table-bordered table-striped">
    <tr class="text-center">
        <th>
            @Html.DisplayNameFor(model => model.Sem_Subject_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Semister_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Semister_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Max_Score)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="text-center">
            <td>
                @Html.DisplayFor(modelItem => item.Sem_Subject_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semister_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semister_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Max_Score)
            </td>
        </tr>
    }
</table>

@Html.ActionLink("Back", "Index", "Home")