@model Student_Report_Management.Models.ViewModels.StudentReportViewModel
@{
    ViewBag.Title = "DeleteSubject";
}

<h4>Delete Subject</h4>

@using (Html.BeginForm("DeleteSubject", "SubjectMaster", FormMethod.Post))
{
    @*<div>
            @Html.HiddenFor(Model => Model.Subject_Id)
        </div>*@
    <div class="form-group">
        @Html.LabelFor(Model => Model.Subject_Id)
        @Html.TextBoxFor(Model => Model.Subject_Id, new { @readonly = "readonly", @class = "form-control" })
    </div>
    <div>
        @Html.LabelFor(Model => Model.Subject_Name)
        @Html.TextBoxFor(Model => Model.Subject_Name, new { @readonly = "readonly", @class = "form-control" })
    </div>
    <div >
        <p style="color:red">
            Are you sure to Delete this Subject
        </p>
    </div>
    <div class="form-group">
        <input type="submit" value="Delete Subject" class="btn btn-danger" />
    </div>
    <div>
        @Html.ActionLink("Back to List", "GetSubjectData")
    </div>
}

