@model Student_Report_Management.Models.ViewModels.StudentReportViewModel
@{
    ViewBag.Title = "DeleteStudent";
}

<h2>Delete Student</h2>

@using (Html.BeginForm("DeleteStudent", "StudentMaster", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div>
        @Html.HiddenFor(Model => Model.Student_Id)
    </div>
    <div class="form-group">
        @Html.LabelFor(Model => Model.Student_Id)
        @Html.TextBoxFor(Model => Model.Student_Id, new { @readonly = "readonly", @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(Model => Model.Student_Name)
        @Html.TextBoxFor(Model => Model.Student_Name, new { @readonly = "readonly", @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(Model => Model.Student_Email)
        @Html.TextBoxFor(Model => Model.Student_Email, new { @readonly = "readonly", @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(Model => Model.Student_Mobile)
        @Html.TextBoxFor(Model => Model.Student_Mobile, new { @readonly = "readonly", @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(Model => Model.Student_DOB)
        @Html.TextBoxFor(Model => Model.Student_DOB, new { @readonly = "readonly", @class = "form-control" })
    </div>
    <div>
        <p>Are you sure to Delete this Student</p>
    </div>
    <div class="form-group">
        <input type="submit" value="Delete" class="btn btn-primary" />
    </div>
    <div>
        @Html.ActionLink("Back to List", "GetStudentData")
    </div>
}


