@model Student_Report_Management.Models.ViewModels.StudentReportViewModel
@{
    /**/

    ViewBag.Title = "EditStudent";
}

<h2>Edit Student</h2>

@using (Html.BeginForm("EditStudent", "StudentMaster", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(Model => Model.Student_Name)
        @Html.TextBoxFor(Model => Model.Student_Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(Model => Model.Student_Email)
        @Html.TextBoxFor(Model => Model.Student_Email, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(Model => Model.Student_Mobile)
        @Html.TextBoxFor(Model => Model.Student_Mobile, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(Model => Model.Student_DOB)
        @Html.EditorFor(Model => Model.Student_DOB, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <input type="submit" value="Update" class="btn btn-primary" />
    </div>
    <div>
        @Html.ActionLink("Back to List", "GetStudentData")
    </div>
}

